body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #4d5ae5;
}

.logo-item {
    color: #2e2f42
}

.navigation {
    font-weight: 500;
    color: #2e2f42;
}

.navigation:hover,
.navigation:focus {
    color: #404bbf;
    text-decoration: underline;
}

.address {
    font-style: normal;
}

.address,
.contact {
    cursor: pointer;
    color: #434455
}

.address .contact:hover,
.address .contact:focus {
    color: #404bbf;
    text-decoration: underline;
}

.tittle {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.main-section .button:focus,
.main-section .button:hover {
    background-color: #404bbf;
}

.main-section {
    background-color: #2e2f42;
}

.section-tittle {
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
}

.text-tittle {
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
}

.second-section {
    background-color: #f4f4fd;
}

.section-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-cards {
    background-color: #ffffff;
}

.footer-text,
.footer-logo {
    color: #f4f4fd;
}