body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #4d5ae5;
}

.logo-item {
    color: #2e2f42
}

.navigation {
    font-weight: 500;
    color: #2e2f42;
    cursor: pointer;
}

.navigation:hover,
.navigation:active {
    color: #404bbf
}

.navigation:active {
    text-decoration: underline;
}

.address {
    font-style: normal;
}

.contact {
    text-decoration: underline;
    cursor: pointer;
}

.contact:hover,
.contact:active {
    color: #404bbf;
}

.tittle {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.button:active {
    background-color: #404bbf;
}

.main-section {
    background-color: #2e2f42;
}

.section-tittle {
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
}

.text-tittle {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
}

.second-section {
    background-color: #f4f4fd;
}

.footer-text,
.footer-logo {
    color: #f4f4fd;
}